@use '../app/App.scss' as base;

.card{
  text-align: start;
}

.title{
  color: base.$primary-color;
  font-weight: bold;
}

.error{
  color: red;
}

.uploadLabel{
  background-color: base.$primary-color;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  cursor: pointer;
  margin: auto;
}
